*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.containter{
	width: 80%;
	margin:50px auto;
	padding:20px;
}
.title{
	text-align:center;
	font-size:45px;
	font-weight:bold;
	margin-bottom:70px;
}
.about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.image{
	flex:1;
	overflow: hidden;
	border-radius: 30px;
}
.image img{
	width:60%;
}
.content{
	flex:1;
	margin-left:2px;
}
.joinNow {
	margin-top: 20px;
	display: inline-block;
	padding: 10px 20px; /* Fixed padding syntax */
	background-color: blue;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border-radius: 10px;
	transition: 0.3s ease;
}

.joinNow:hover {
	background-color: darkblue; /* Replace with a suitable color on hover */
}
.nav-link.active {
  font-weight: bold;
}