 body {
    display: flex;           /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically (if container has height) */
    height: 100vh;          /* Optional: make the container full height */
	flex-direction: column; 
    background-image: url('formulas.jpg'); /* Putanja do slike */
    background-size: contain; 
    background-position: center; /* Centriranje slike */
	
}

