.center-buttons {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-direction: row;
    padding-top: 25px; 
}

.button {
    padding: 18px 30px; 
    font-size: 20px; 
    color: black; 
    border: none;
   
}
.button1 {
    background-color: #FF5733; 
}

.button2 {
    background-color: #33FF57;
}

.button3 {
    background-color: #3357FF;
}

.button4 {
    background-color: #F3FF33; 
}