.center {
  text-align: center;
    border: 3px solid green; 
    padding: 20px; 
    margin: 180px auto; 
    width: 80%; 
    height: 600px; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 20px;
}