/* Stil za celu sekciju */
.image-text-container {
  width: 100%;
  max-width: 1200px; /* Isto kao i za carousel, prilagoditi prema željenoj širini */
  margin: 0 auto;
  padding: 20px;
  background-color: #FFEB3B; /* Zlatno-žuta pozadina */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stil za redove sa slikama */
.image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 0; /* Ukloni razmak između slika */
}

.image-item {
  text-align: center;
  flex: 1;
}

.image-item img {
  width: 100%;
  height: 100%;
  max-width: 300px; /* Postavljanje iste širine slika */
  max-height: 300px; /* Zadržavanje iste visine slika */
  object-fit: cover; /* Održava proporcije slika i ispunjava prostor */
  margin: 0;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Glatki prelaz za transformaciju i senke */
}
.image-item img:hover {
  transform: scale(1.1); /* Ispupčava sliku pri hoveru */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Dodaje senku pri hoveru za bolji efekat */
}

/* Stil za tekst */
.info-text {
  font-family: 'Poppins', sans-serif; /* Moderni font */
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  padding: 20px;
  text-align: justify;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

/* Uvoz fonta sa Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');