footer{
    padding: 2rem;
    background-color: #eee;
    margin-top: 2rem;
    }
    
    footer a {
    color: #666666;
    transition: color 0.4s ease-in;
    padding: 0.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-decoration: none;
    }
    
    footer a:hover{
        color: black;
    }
    footer p{
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }