.banner{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    display: block;
}
.banner >.banner-caption{
text-align:center;
}
.banner >.banner-caption h3{margin-top: 10%;}

.photo-gallery{
    color:rgb(255, 255, 255);
    }
    .img-fluid{
        padding-top: 100%;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
img.img-fluid{
    object-fit: scale-down;
    height: 100%;
}

    
    
    